/*this.GUI/src/stories/Atoms/TextInput/TextInput.css */
.text-input {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  width: 100%;
  padding: var(--spacing-sm);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

.text-input__input {
  width: 100%;
  padding: var(--spacing-sm);
  border: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

.text-input--small .text-input__input {
  font-size: var(--font-size-small);
}

.text-input--large .text-input__input {
  font-size: var(--font-size-large);
}

.text-input--disabled {
  background-color: var(--neutral-color-hover);
  cursor: not-allowed;
}

.text-input--primary {
  border-color: var(--primary-color);
}

.text-input--secondary {
  border-color: var(--secondary-color);
}

/* Additional Colors */
.text-input--info {
  border-color: var(--info-color);
}

.text-input--warning {
  border-color: var(--warning-color);
}

.text-input--alert {
  border-color: var(--alert-color);
}

.text-input--success {
  border-color: var(--success-color);
}

.text-input--neutral {
  border-color: var(--neutral-color);
}

.text-input--dark {
  border-color: var(--dark-color);
}

.text-input__clear-button {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.text-input--loading {
  background-color: #f0f0f0;
}

.text-input__spinner {
  margin-left: var(--spacing-sm);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--primary-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
